 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 }
 body{
  background-color: beige;
 }
 header{
  background-color: #333;
  color: white;
  text-align: center;
 }

 main{
   background-color: blueviolet;
   margin: 10px;
   padding: 10px;
 }
 #filter{
    margin: 5px;
    padding: 5px;
    background-color: #b38080;
    overflow: hidden;
 }
 #validation{
    margin: 5px;
    padding: 5px;
    background-color: #333;
    overflow: hidden;
 }
 
 #taskContainer {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 15px; 
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto; 
}

#taskContainer div {
  width: 100%; 
}
#empatyContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#emptyButton{
  margin: 10px;
  padding: 10px;
  background:linear-gradient(to right, #c17bd3, #7850c4);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(232, 240, 235, 0.2);
}
.emptyButton:hover{
  background:linear-gradient(to right, #28a575, #c17bd3);
}

#alltask{
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
}