 * {
     margin: 0;
     padding: 0;
 }

 header {
     display: flex;
     align-items: center;
     position: relative; 
 }

 .search-container {
     display: flex;
     align-items: center;
     max-width: 60%;
     margin: auto;
     flex: 1;
 }

 .search-container input {
     width: 100%;
     padding: 10px;
     font-size: 16px;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     border-top-right-radius: 0px;
     border-bottom-right-radius: none;
     border: 1px solid #ccc;
 }

 .search-container .search-btn {
     padding: 10px;
     background-color: #998989;
     cursor: pointer;
     border: 1px solid #ccc;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     border-top-left-radius: none;
     border-bottom-left-radius: none;
     font-size: 16px;
 }

 .search-container .mic-btn {
     padding: 10px;
     border: none;
     background-color: transparent;
     cursor: pointer;
     margin-left: 5px;
     font-size: 24px;
     opacity: 0.5;
 }

 .search-container i {
     color: #606060;
 }

 .icons-container {
     display: flex;
     align-items: center;
     margin-left: auto;
 }

 .icons-container button {
     background: none;
     border: none;
     cursor: pointer;
     margin-left: 15px;
     position: relative;
 }

 .icons-container i {
     font-size: 20px;
     color: #802626;
 }

 .video-post-btn {
     position: relative;
 }

 .user-account-btn i {
     font-size: 28px;
 }

 .notifications-btn i {
     font-size: 22px;
 }

 .logo {
     height: 30px;
     margin-left: 0;
 }

 .sidebar {
    position: fixed; /* Fixes the sidebar to the viewport */
    left: 0;
    top:2;
     width: 15vw;
     height: 100vh;
     background-color: #f8f8f8;
     border-right: 1px solid #ddd;
     display: flex;
     flex-direction: column;
     padding: 10px;

 }

 .sidebar-top {
     flex: 1;
 }

 .sidebar-bottom {
     margin-top: auto;
 }

 .sidebar-item {
     display: flex;
     align-items: center;
     padding: 10px;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.2s;
 }

 .sidebar-item:hover {
     background-color: #e0e0e0;
 }

 .sidebar-item i {
     margin-right: 10px;
 }

 .sidebar-item p {
     margin: 0;
 }

 .container {
    display: flex;
    justify-content: center;  
    margin-left: 0;
}

 nav {
     display: flex;
     justify-content: center;
     margin-left:15vw;
     position: fixed; 
    }

 nav li {
     list-style: none;
      padding: 0.5rem;
      border: 1px solid black;
      margin-left: 0.5rem;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: #0a0a0a;
     opacity: 0.8;
      height: 4vh;
      font-size: medium;
      display: flex; 
    align-items: center; 
    justify-content: center;  
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    
 }

 nav a {
     text-decoration: none;
     color: #e0e0e0;
     font-weight: 600;

 }