* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  display: inline-flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  z-index: 1000;
  align-items: center;
  height: 35px;
}

#bars {
  margin-top: 6px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

#you {
  color: red;
  font-size: 20px;
  justify-content: center;
  margin-top: 6px;
  margin-right: 2px;
}

#youtube {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

#in {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 8px;
  margin-left: 3px;
}
.ylogo {
  display: flex;
  align-items: center;
}
#searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 100%;
  min-width: 50%;
}

#search {
  font-size: 17px;
  width: 100%;
  padding: 5px;
  border: 2px solid #ededed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

#search-icon {
  padding: 5px 6px;
  background-color: #c4baba;
  cursor: pointer;
  border: 2px solid #ededed;
  border-left: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 17px;
  outline: none;
}

#mic-btn {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
  font-size: 20px;
  opacity: 0.5;
  outline: none;
}

#video-icon {
  color: black;
  width: max-content;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}

#notification {
  color: black;
  width: max-content;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}

#plus20 {
  columns: white;
  background-color: orangered;
  border-radius: 10px;
  font-size: 6px;
}

#user {
  border: 2px solid rgb(200, 80, 20);
  border-radius: 50%;
  padding: 2px;
  font-size: medium;
  background-color: #dd1a82;
}

#nav1 {
  right: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

aside {
  top: 40px;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  width: 140px;
  scrollbar-color: rgb(112, 8, 8);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
}

aside nav {
  margin-top: 5px;
  border-bottom-width: 40%;
  left: 20px;
  border-bottom: 1px solid lightgray;
  padding-right: 2px;
}

aside nav li {
  list-style: none;
  margin-bottom: 2px;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

aside nav li a {
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-family: "Padauk", sans-serif;
  font-size: 12px;
}

aside nav li i {
  width: 10px;
}

aside nav li:hover {
  background-color: whitesmoke;
}

#category {
  font-weight: bold;
  font-size: 12px;
  color: rgb(11, 11, 11);
  margin-bottom: 10px;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.filters {
  position: fixed;
  left: 140px;
  top: 34px;
  width: calc(100% - 140px);
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 5px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 100;
}
.filters::-webkit-scrollbar {
  display: none;
}
.fiter-option {
  flex: 0 0 auto;
  padding: 5px 10px;
  border-radius: 50px;
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
  text-transform: capitalize;
  margin-right: 5px;
  color: #242424;
  font-size: 10px;
  cursor: pointer;
}
.fiter-option.active {
  background-color: #242424;
  color: #fff;
}
main {
  position: relative;
  top: 82px;
  margin-left: 140px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
}

@media (max-width: 850px) {
  main {
    margin-left: 140px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  main {
    margin-left: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}

article {
  width: 250px;
  /* border: 5px solid gray; */
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.contain {
  display: flex;
}
#logo {
  height: 150px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}
.channel {
  margin-right: 6px;
}
.channel > img {
  width: 35px;
  height: 35px;
  margin-left: 1px;
  border: 2px solid none;
  border-radius: 50%;
}
#add {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2px;
}

#para {
  font-size: 14px;
  color: gray;
}

#link {
  color: darkgray;
  text-decoration: none;
  font-weight: normal;
  font-size: 13px;
}

#ad {
  color: orange;
  font-size: 16px;
}

#hr {
  margin-bottom: -15px;
  visibility: hidden;
}

@media (max-width: 850px) {
  aside {
    top: 34px;
    position: fixed;
    height: 90vh;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-left: 140px;
  }
  article {
    width: 250px;
    /* border: 5px solid gray; */
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  aside {
    width: 50px;
    overflow-x: hidden;
  }
  #category {
    font-size: 10px;
    display: none;
  }
  .filters {
    left: 50px;
    width: 100%;
  }
  main {
    margin-left: 50px;
    top: 70px;
  }
  #searchbar {
    width: 30%;
  }
  #search {
    font-size: 0.9rem;
  }
  #nav1 a i {
    margin: 0 5px;
    font-size: 1rem;
  }
  aside nav li {
    text-align: center;
  }
  aside nav li a {
    display: none; /* Hide text */
  }
}

@media (max-width: 500px) {
  #bars {
    display: none;
  }

  #searchbar {
    display: none;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  #nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  aside {
    display: none;
  }
  .filters {
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow-x: scroll;
    height: 40px;
  }
  main {
    left: 0;
    top: 90px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  article {
    width: 300px;
  }
  #logo {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
    z-index: 1000;
    padding: 15px 0;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer nav a {
    color: #606060;
    font-size: 12px;
    margin: 8px 0;
    text-decoration: none;
  }

  footer nav a:hover {
    color: #000;
  }

  footer nav a i {
    font-size: 18px;
  }
}
